<div class="content">
	<div class="header">
		<h1>Live Nano election visualization</h1>
		<span>Every line is a block waiting to be validated. When the quorum reaches 100%, the block is confirmed. This data is based on the perspective of a single <a [href]="'https://mynano.ninja/account/' + hostAccount" target="_blank">node</a>.</span><br><br>
		<div class="setting">
			<label for="fps">Refresh rate (FPS): {{ fps }}</label><input id="fps" type="range" min="0" [max]="maxFps" step="1" [value]="fps" (input)="changeFps($event)">
		</div>
		<div class="setting">
			<label for="timeframe">Graph timeframe (Minutes): {{ timeframe }}</label><input id="timeframe" type="range" min=1 [max]="maxTimeframe" step="1"[value]="timeframe" (input)="changeTimeframe($event)">
		</div>
	</div>

	<div id="electionChart"></div>

	<div class="stats-container">
		<div class="stat-container">
			<h2 class="stat-header">Elections Active / Stopped</h2>
			<span class="stat">{{ blocks - stoppedElections - confirmations }} / {{ stoppedElections }}</span>
		</div>
		<div class="stat-container">
			<h2 class="stat-header">Confirmations (avg. CPS)</h2>
			<span class="stat">{{ confirmations }} ({{ cps }})</span>
		</div>
	</div>

	<div class="table-section">
		<h2 class="table-section-header">Principal vote participation</h2>
		<span class="node-disclaimer">
			Disclaimer: Node marked with *** is biased because it is the source of this information. This might cause the actual vote participation to be higher, even though it is a powerful server.
			This represents the perspective of a single node and might not count all of the votes in the network.
		</span>
		<div class="table-section-list">
			<table class="table-section-table">
				<th>Alias</th>
				<th class="text-right">Online weight %</th>
				<th class="text-right hide-mobile">Vote count</th>
				<th class="text-right">Participation %</th>
				<tr *ngFor="let rep of representativeStats | keyvalue | orderBy: 'desc': 'value.voteCount'">
					<td>
						<a [href]="'https://mynano.ninja/account/' + rep.key" target="_blank">{{ rep.value.alias || rep.key }}</a>
					</td>
					<td class="text-right">
						{{ rep.value.weight | percent: '1.2-2' }}
					</td>
					<td class="text-right hide-mobile">
						{{ rep.value.voteCount }}
					</td>
					<td class="text-right">
						{{ rep.value.voteCount / blocks | percent: '1.2-2' }}
					</td>
				</tr>
			</table>
		</div>
	</div>

	<div class="table-section">
		<h2 class="table-section-header">Latest confirmations</h2>
		<div class="table-section-list">
			<table class="table-section-table" *ngIf="latestConfirmations.length">
				<th>Account/Hash</th>
				<th class="text-right">Amount</th>
				<tr *ngFor="let confirmation of latestConfirmations">
					<td>
						<a [href]="'https://nanolooker.com/account/' + confirmation.account" target="_blank">{{ confirmation.account }}</a><br>
						<a [href]="'https://nanolooker.com/block/' + confirmation.hash" target="_blank">{{ confirmation.hash }}</a>
					</td>
					<td class="text-right">
						{{ confirmation.amount }}
					</td>
				</tr>
			</table>
		</div>
	</div>

	<div class="credits">
		<span>Made by <a href="https://github.com/numsu" target="_blank">Numsu</a></span><br>
		If you appreciate my work in the community, please consider donating Nano:<br>
		nano_1iic4ggaxy3eyg89xmswhj1r5j9uj66beka8qjcte11bs6uc3wdwr7i9hepm<br><br>
		<qrcode [qrdata]="'nano:nano_1iic4ggaxy3eyg89xmswhj1r5j9uj66beka8qjcte11bs6uc3wdwr7i9hepm'" [width]="128" [errorCorrectionLevel]="'M'" [elementType]="'svg'"></qrcode>
	</div>
</div>
