<div class="content">
	<div class="header">
		<h1>Live Nano election visualization</h1>
		<span>Every line is a block waiting to be validated. When the quorum reaches 100%, the block is confirmed. The graph displays data from the last ten minutes.</span><br><br>
		<label for="fps">Refresh rate (FPS): {{ fps }}</label><input id="fps" type="range" min="0" max=60 step=1 [value]="fps" (input)="changeFps($event)">
	</div>

	<div id="visualization" #visualization></div>

	<div class="stats-container">
		<div class="stat-container">
			<h2 class="stat-header">Active/Stopped elections</h2>
			<span class="stat">{{ blocks - stoppedElections }} / {{ stoppedElections }}</span>
		</div>
		<div class="stat-container">
			<h2 class="stat-header">Confirmations (CPS)</h2>
			<span class="stat">{{ confirmations }} ({{ cps }})</span>
		</div>
	</div>

	<div class="confirmations">
		<h2 class="confirmations-header">Latest confirmations</h2>
		<div class="confirmations-list">
			<table class="confirmations-table" *ngIf="latestConfirmations.length">
				<th>Account/Hash</th>
				<th>Amount</th>
				<tr *ngFor="let confirmation of latestConfirmations">
					<td>
						<a [href]="'https://nanolooker.com/account/' + confirmation.account" target="_blank">{{ confirmation.account }}</a><br>
						<a [href]="'https://nanolooker.com/block/' + confirmation.hash" target="_blank">{{ confirmation.hash }}</a>
					</td>
					<td>
						{{ confirmation.amount }}
					</td>
				</tr>
			</table>
		</div>
	</div>

	<div class="credits">
		<span>Made by <a href="https://github.com/numsu" target="_blank">Numsu</a></span><br>
		If you appreciate my work in the community, please consider donating Nano:<br>
		nano_1iic4ggaxy3eyg89xmswhj1r5j9uj66beka8qjcte11bs6uc3wdwr7i9hepm
	</div>
</div>
