body, html
	margin: 0
	padding: 0

body
	background: #141619
	color: #c7d0d9

.header
	text-align: center

.content
	flex: 1
	flex-direction: column

.stats-container
	display: flex
	flex-direction: row
	justify-content: space-around
	align-items: center

.stat-container
	display: flex
	flex-direction: column
	align-items: center

.stat-header
	color: rgba(255, 0, 0, 0.6)

.stat
	color: #ccc
	font-size: 1.3em

.u-series:first-child
	display: none

.confirmations
	margin-top: 100px
	display: flex
	flex-direction: column
	align-items: center
	padding-bottom: 50px

.confirmations-header
	color: rgba(255, 0, 0, 0.6)
	text-align: center

.confirmations-list
	margin-bottom: 10px

.confirmations-table
	text-align: left

	th, td
		padding: 5px 10px

a
	color: rgba(255, 0, 0, 0.6)
	text-decoration: none

	&:hover
		color: rgba(255, 0, 0, 0.8)

.credits
	display: flex
	align-items: center
	flex-direction: column
	margin-top: 100px
	padding-bottom: 50px